<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- This file is part of SWORD -->

<service-group>
  <name replace-wildcards="yes">Kodak i1120 (SWORD)</name>

  <service>
    <type>_sword._tcp</type>
    <port>80</port>
    <txt-record>port=80</txt-record>
  </service>
</service-group>
